.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0; 
}

.App-link {
  color: #61dafb;
}

/* Navbaar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  align-items: center; 
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content:left; 
}



.logo-text {
  font-size: 24px;
  padding: 0 10px;
  color: orange;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  font-weight: bold;
   
 
}

.nav-link:hover {
  color: orange;
}

/* Home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}
/* Style for the Warehouse List component */
.WarehouseList {
  background-color: rgb(241, 239, 234); /* Set the background color */
  padding: 20px; /* Add padding to the component */
  border-radius: 10px; /* Add rounded corners */
 
}

/* Style for the input and select elements */
.WarehouseList input,
.WarehouseList select {
  margin-right: 10px; /* Add spacing between input and select elements */
  padding: 8px; /* Add padding to input and select elements */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add rounded corners to input and select */
  
}

/* Style for the list items */
.WarehouseList ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove padding */
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Two columns per row */
  gap: 5px; /* Adjust the gap between warehouse names */
}

.WarehouseList li {
  /* margin-bottom: 10px; Add spacing between list items */
  margin: 10px 0;
  font-size: 15px;
}

/* Style for the links in the list */
.WarehouseList a {
  text-decoration: none; /* Remove underlines from links */
  color: #0078d4; /* Set link color */
  font-weight: bold; /* Make the text bold */
}

/* Style for the links on hover */
.WarehouseList a:hover {
  color: #004e8c; /* Change link color on hover */
}

/* Style for the Save button */
.save-button {
  background-color: green; /* Set the background color to green */
  color: white; /* Set text color to white */
  padding: 10px 20px; /* Add padding */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
}

/* Style for the Cancel button */
.cancel-button {
  background-color: red; /* Set the background color to red */
  color: white; /* Set text color to white */
  padding: 10px 20px; /* Add padding */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
}

/* Style for the Edit button */
.edit-button {
  background-color: blue; /* Set the background color to blue */
  color: white; /* Set text color to white */
  padding: 10px 20px; /* Add padding */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
  
}

/* Style for the warehouse details container */
.warehouse-details-container {
  padding: 1px; /* Add padding to the container */
  border: 1px solid #ccc; /* Add a border for separation */
  border-radius: 5px; /* Add rounded corners */
  margin: 0; /* Add margin for spacing */
}
/* Styles for the warehouse details text */
.warehouse-details {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
}
/* Edit Section */
.edit-section {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
}
/* Styles for labels */
label {
  display: block; /* Display each label on a new line */
  margin-bottom: 8px; /* Add some space between labels */
}

/* Styles for input fields */
input[type="text"],
input[type="number"],
select {
  width: 90%; /* Make input fields and select elements take the full width */
  padding: 6px; /* Add some padding to input fields for spacing */
  margin-bottom: 12px; /* Add some space between input fields */
}


/* Style for the "Back to Home" link */
.back-link {
  text-decoration: none; /* Remove underlines and styling */
  padding: 8px 17px; /* Add padding */
  background-color: #007bff; /* Set the background color to a shade of blue */
  color: white; /* Set text color to white */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
  margin-left: 10px; /* Add some spacing to separate it from the Edit button */
}
/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: absolute; /* Stick the footer to the bottom */
  width: 100%;
  bottom: 0; /* Stick it at the bottom of the viewport */
}